body, h1, h2, h3, p, ul, li, form, input, button, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #8b4513, #f5deb3);
    color: #fff;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

/*Input Fields*/
form input, form select {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    border-bottom: 2px solid #ccc;
    transition: border-bottom-color 0.3s;
}

form input:focus, form select:focus {
    outline: none;
    border-bottom-color: #5c3d2e ;
}

/*buttons*/
button {
    background: linear-gradient(45deg, #7928ca, #007bff);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #007bff, #7928ca);
}

/*Headings and Text*/
h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
    font-size: 1rem;
}

a {
    color: #5c3d2e;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.1s ease;
}

a:hover {
    color: blueviolet;
}

/*Buttons on homepage*/
.buttons a {
    display: inline-block;
    text-align: center;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #5c3d2e;
    background: transparent;
    transition: background-color 0.2s, transform 0.2s;
}

.buttons a:hover {
    background: #007bff;
    color: #fff;
    transform: scale(1.1);
}

/*List*/
ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}

#logout {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    background: #7a4e1cc1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#logout:hover {
    background: #8e270dac;
    transform: scale(1.05);
}